extends layout

block content
  script(type='text/javascript').
    $(document).ready(function() {
        $(document).on("click","#snap",function() {
            $('#canvas').css('display', 'initial');
        });
        $('#canvas').css('display', 'none');
    });

  .top-content
    img(src='img/logo.png',class="col-md-3 col-sm-6 col-xs-12")/
  
  .nav-bar
    hr

  div.video(class="row")
    video#video(class="col-md-12 col-xs-12", autoplay)
    canvas#canvas(class="col-md-12 col-xs-12")
    button#snap(class="btn btn-pink col-md-3 col-sm-12 col-xs-12") Snap Photo
  
  .powered
    h3 Powered By
    img(src='img/linode.png')/
    img(src='img/clusterpoint.png')/
    img(src='img/sparkpost.png')/
    img(src='img/hp.png')/

  .footer
    p © 2015 FaceTrak. All Rights Reserved.

    script(src='scripts/webcam.js')
