extends layout

block content
  .top-content
    img(src='img/logo.png')/
    p Welcome to #{title}

  a.btn.btn-default Upload Photo
  button#snap(class="btn btn-success") Snap Photo
  
  div.video(class="container")
    div.col-md-4
      video#video(width="640", height="640", autoplay)
    div.col-md-4
      canvas#canvas(class="" width="640", height="480")
  
  .powered
    h3 Powered By
    img(src='img/linode.png')/
    img(src='img/clusterpoint.png')/
    img(src='img/sparkpost.png')/
    img(src='img/hp.png')/

  .footer
    p © 2015 FaceTrak. All Rights Reserved.

    script(src='scripts/webcam.js')
