extends layout

block content
  .top-content
    img(src='img/logo.png')/
    p Welcome to #{title}


  a.btn.btn-default Upload Photo
  
  div.video
    video#video(width="800", height="600", autoplay)
    canvas#canvas(width="640", height="480")
    button#snap(class="btn btn-success") Snap Photo
  
  .powered
    h3 Powered By
    img(src='img/linode.png')/
    img(src='img/clusterpoint.png')/
    img(src='img/sparkpost.png')/
    img(src='img/hp.png')/

  .footer
    p © 2015 FaceTrak. All Rights Reserved.

    script(src='scripts/webcam.js')
