extends layout

block content
  .top-content
    img(src='img/logo.png')/
    p Welcome to #{title}


  a.btn.btn-default Upload Photo

  .sponsor
    h3 Sponsors
    img(src='img/linode.png')/
    img(src='img/clusterpoint.png')/
    img(src='img/sparkpost.png')/
    img(src='img/hp.png')/

  .footer
    p © 2015 FaceTrak. All Rights Reserved.